<details>
  <summary>Shopping Cart</summary>
  <ul>
    <% @cart.each do |product| %>
      <li><%= product.name %> - <%= link_to 'Remove', remove_from_cart_path(product), method: :delete %></li>
    <% end %>
  </ul>
</details>