<P>
Found <%= pluralize(@products.size, 'result')%>
for the search "<%= params[:search_term]%>"
</p>

<div class='columns is-multiline'>
  <%= render partial: 'products/product',
            collection: @products,
            locals: {show_link: true }%>
</div>